.form-control,.bootstrap-tagsinput,.panel-body {
    border-radius: 1px;
}

body,label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    overflow-x: hidden !important;
    color: #000;
    font-weight: normal;
}
h2 {
    color: #838282;
    font-size: 24px;
    padding: 0;
    margin-bottom: 20px;
    line-height: 35px;
    text-transform: uppercase;
    color: #2bcdc1;

}

.borderR {
    border:1px solid cornflowerblue;
}
h2.formTitle {
    line-height: 35px;
    text-transform: uppercase;
    color: #2bcdc1;
}

input,select {
    height: 40px;
    font-size: 14px;
    border-radius: 0;
}

.panel-heading {
    padding: 4px 15px;
}

.readAndAgree {
    line-height: 46px;
    display: inline-flex;
    margin-left: 5px;
}

.codeOfConductList{
    padding:0 10px;
}

.codeOfConductList li {
    list-style-type: disc;
    text-align:justify; 
    padding:0px 2px;
    margin-left: 12px;
}

input[type='checkbox'] {
    vertical-align: middle;
    margin: 0px 10px;
}

.loading {
    position: fixed;
    display: none;
    z-index: 3000;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */

    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */

    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

    .loading:not(:required):after {
        content: '';
        display: block;
        font-size: 10px;
        width: 1em;
        height: 1em;
        margin-top: -0.5em;
        animation: spinner 1500ms infinite linear;
        border-radius: 0.5em;
        box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
        rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0,
        rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
        rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0,
        rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
        rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0,
        rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
        rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    }

    /* Animation */

    @-webkit-keyframes spinner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @-moz-keyframes spinner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @-o-keyframes spinner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes spinner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height: 450px;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1;
    }

.category-box {
    position: relative;
    height: 210px;
    background: #fff;
    box-shadow: 0 5px 25px 0 rgba(41,128,185,0.20);
    -webkit-box-shadow: 0 5px 25px 0 rgba(41,128,185,0.15);
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 30px;
    overflow: hidden;
    transition: 0.6s linear;    
}

.category-detail button { 
    margin-top: 0px;
}

.category-detail .btn:hover .btn {
    background-color: orange !important;
    color:#e4e4e4;
}
button:hover .category-box {
    box-shadow: 0 5px 25px 0 rgba(41,128,185,0.1);
    -webkit-box-shadow: 0 5px 25px 0 rgba(41,128,185,0.1);    
}

.category-desc {
    background-color: #e4e4e4;
}
.grid-view.brows-job-list {
    position: relative;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 45px;
}

.brows-job-list {
    display: table;
    width: 100%;
    clear: both;
    padding: 15px 0;
    margin-bottom: 15px;
    transition: .4s;
    border: 1px solid #eaeff5;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px rgba(88,96,109,0.14);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(88,96,109,0.14);
    -moz-box-shadow: 0px 0px 10px 0px rgba(88,96,109,0.14);
}
.brows-job-position {
    padding: 0 15px;
}

.brows-job-position h3 {
    color: #5b6d77;
    font-size: 26px;
    padding: 0;
    margin-bottom: 0;
    line-height: 1.4;
}

.brows-job-position a {
    color: #707c88;
}

.brows-job-position p span {
    font-size: 20px;
    color: #5a6f7c;
    margin-top: 12px;
    margin-right: 5px;
}

span.job-num {
    border-radius: 4px;
    text-transform: capitalize;
    color: #8da2b3;
    background: orange;
}
.grid-view-caption {
    margin: 3em 0 0 0;
    padding: 0;
    border-top: 1px solid #eaeff5;
    display: flex;
    width: 100%;
}
.grid-view-caption li:first-child {
    border-right: 1px solid #eaeff5;
}

.grid-view-caption li {
    display: inline-block;
    width: 50%;
    padding: 10px 0;
    line-height: 2.2;
}

.grid-view-caption .brows-job-position {
    margin-top: 0px;
}

.grid-view-caption.brows-job-sallery {
    font-size: 14px;
    margin-bottom: 0;
    color:#000;
}

.tg-themetag {
    top: 7px;
    left: -5px;
    z-index: 2;
    color: #000;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    position: absolute;
    background: orange;
    padding: 5px 3px 3px 10px;
    text-transform: uppercase;
}

.tg-themetag:before {
    top: 0;
    left: 100%;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 10px solid #ff526c;
}

.tg-themetag:after {
    top: 100%;
    left: 0;
    border-top: 5px solid #eb344f;
    border-left: 5px solid transparent;
}

.freelanc {
    background: #e4e4e4;
    color: #000;
}

.grid-view .brows-job-type span {
    position: absolute;
    padding: 4px 15px;
    top: 7px;
    right: -7px;
    line-height: 1.4;
    font-size: 12px;
    border-radius: 2px 0 0 2px;
}

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal,.modal1 {
    display: none;
    position: fixed;
    z-index: 100000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #e4e4e4;
  }
  .modal1 {
    display: block;
    width: 60%;
    height: 70%;
    top: 10%;
    left: 20%;
    z-index: 20000;
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }

.cancel {
    font-size: 60px;
    margin-top: -80px;
    margin-right: 60px;
    color: #fff;
    font-weight: normal;
    text-shadow: none;
    float: right;
    line-height: 1px;
    opacity: 1;
}

.cancelJob {
    font-size: 50px;
    margin-top: -50px;
    margin-right: 40px;
    color: #fff;
    font-weight: normal;
    text-shadow: none;
    float: right;
    line-height: 1px;
    opacity: 1;
}

.cancel:hover {
    font-size: 60px;
    margin-top: -80px;
    margin-right: 60px;
    color: #ababab;
    font-weight: normal;
    text-shadow: none;
    opacity: 1;
}

.eventTop {
    position: absolute;
    top:0;
    width: 100%;
}

.eventTop li {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    line-height: 2.2;
}

.eventBottom li {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    line-height: 2.2;
}

.eventBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.eventBottom p {
    margin: 0 0 0px;
    font-size:20px;
    color:#000;
}
.category-detail .btn  {
    display: inline-block;
    padding: -14px;
    margin: 88px 0;
    color:#fff;
    cursor: pointer;
}

.category-detail i:hover {
    color: orange !important;
}

.brows-job-location h4 {
    font-size: 22px;
    color: #000;
}

.carousel-caption {
    top:24%;
}

.carousel-caption h4 {
    width: 120%;
    margin-left: -120px;
    font-size: 66px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom:10px;
    position: absolute;
    display: block;
    top: 3%;
    left:4%;
    right:2%;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: anim-1;
}

.carousel-caption p {
    position: absolute;
    bottom:20%;
    display: block;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    width:98%;
    color:orange;
    margin-top:100px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding:10px;
}

@keyframes anim-1 {
	0%, 2.3% { left: -100%;opacity: 0; }
    2.3%,25% { left: 4%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 8.3% { right: -100%;top: 14%; opacity: 0; }
    8.3%,15% { right: 10%;top: 14%; opacity: 1; }
    33.33%, 100% { right: 100%;top: 14%; opacity: 0; }
}
