.form-control,.bootstrap-tagsinput,.panel-body {
    border-radius: 1px;
}
body,label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    overflow-x: hidden !important;
    color: #000;
    font-weight: normal;
}
h2 {
    color: #838282;
    font-size: 24px;
    padding: 0;
    text-transform: uppercase;
    color: #2bcdc1;
}

.minHeight {
    min-height: 45px;
}


.searchFilterWrapper {
    margin:30px;
}

.trainerWrapper {
    background-color: #ededed;
}
.trainerWrapper .item {
    background-color: #fff;
    margin:10px 0px;
    margin-right:10px; 
    min-height: 400px;
    padding:5px;
}
.trainerWrapper:last-child {
    margin:0;
    padding:0;
}

.thumbnail {
    top: 0;
    left: 0;
    padding:6px;
    border: none;
    margin-bottom: 0px !important;
}

.thumbnail img {
    height: 140px;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

/* .item:hover .thumbnail img {
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
} */

.item {
    border:1px solid #ddd;
    padding: 0px !important;
    margin: 0px !important;
}
.caption p {
    margin-bottom: 5px;
}

.fullname {
    font-size: 14px !important;
    font-weight: 600;
}

.caption .value {
    font-size: 14px;
}

.caption .title {
    font-size: 14px;
    font-weight: normal;
    margin-right: 3px;
}

.caption {
    padding: 12px;
    text-align: justify;
    text-transform: capitalize;
}

.clientWrapper {
    margin:60px 0;
}

.formTitle {
    margin-bottom: 30px;
}
